:root {
    --color: red;
}

div {
    width: 100vh;
    height: 100vh;
}

svg {
    width: 500px;
    height: 300px;
    position: relative;
    padding-top: 10%;
}

g:hover {
    fill: var(--color);
}

@keyframes anima {
    0% { 
        transform: scale(1);
        position: absolute;
    }
}

g {
    animation-name: anima;
    animation-iteration-count: 1;
    animation-duration: 1s; 
}

